table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-row {
    
    transition: background-color .2s;

    &:hover {
        td {
            color: white;
        }
        background-color: rgba(0, 0, 0, .75);
    }
}