.example-card {
    width: 60vw;
    height: 80vh;

    p {
        margin-bottom: 0;
    }
    
    img {
        width: 45vw;
        height: 40vh;
        object-fit: cover;
    }
    
    .book-button {
        margin-left: 2%;
    }
}