.container {
    display: flex;
    flex-wrap: wrap;
    // border: 2px solid red;

    .item {
        width: 29.3%;
        height: 20%;
        margin: 2%;
    }
}

.add-button {
    // text-align: center;
    margin-left: 42%;
    width: 16%;
}