.container {

    text-align: center;

    .user-form {
        display: flex;
        flex-direction: column;
        padding-left: 30%;
        padding-right: 30%;
    
        .user-info {
    
        }
    }
}
