.container {
    display: flex;
    width: 100%;

    .item {
        width: 100%;
    }
    
    p {
        margin-bottom: 0%;
    }

    img {
        width: 100%;
    }
}

.acc-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .book-button {
        margin-top: 10%;
    }
}